@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --primary-color: #3e787c;
    --secondary-color: #86aa32;
    --white:#fff;
    --text-color: #0a0a0a;
    --text-dark: #333333;
    --mute-text: #777;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--white);
    min-height: 100vh;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 5%;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.8);
}

.logo{
    font-size: 1.4em;
    font-weight: 800;
}

.logo span{
    color: var(--secondary-color);
}

header nav ul{
    display: flex;
    gap: 10px;
}

header nav ul li{
    padding: 10px 15px;
    border-radius: 5px;
    transition: 0.3s ease-in;
}

header nav ul li a{
    color: var(--black);
}

header nav ul li:hover
{
    background-color: var(--text-color);
}

header nav ul li:hover a{
    color: var(--white);
}

header button{
    width: 50px;
    height: 50px;
    border: 1px solid #999;
    cursor: pointer;
    border-radius: 5px;
    display: none;
}

header button i{
    color: var(--text-color);
    font-size: 2.5em;
    font-weight: 600;
}


.container{
    display: flex;
    margin: 100px auto;
    max-width: 700px;
    height: 400px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 8px 5px rgba(0,0,0,0.3);
}

.left-container{
    width: 50%;
}

.right-container{
    width: 50%;
    background-color: var(--secondary-color);
    padding: 1rem;
    display: flex;
    align-items: center;
}

.left-container form{
    padding: 1rem;
}

form h2{
    text-align: center;
    font-weight: 800;
    font-size: 1.8em;
    margin-bottom: 3rem;
}

form label{
    font-size: 0.9em;
    font-weight: 600;
}

form input{
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 0.8em;
    border: 1px solid var(--mute-text);
}

form input[type = "text"]:focus,
form input[type = "email"]:focus,
form input[type ="password"]:focus {
    border: none;
    border-bottom: 2px solid var(--secondary-color);

}

form input[type="submit"]{
    background-color: var(--secondary-color);
    border: none;
    color: var(--white);
    font-size: .9em;
    font-weight: 600;
    margin-top: 1rem;
}

.sign-in-link{
    color: var(--mute-text);
    font-size: 0.9em;
}

.sign-in-link a{
    color: var(--text-dark);
    transition: 0.2s ease-in;
}

.sign-in-link a:hover{
    color: var(--secondary-color);
    text-decoration: underline;
}

.right-container img{
    width: 100%;
    object-fit: cover;
}