@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --primary-color: #3e787c;
    --secondary-color: #86aa32;
    --white:#fff;
    --text-color: #0a0a0a;
    --text-dark: #333333;
    --mute-text: #9999;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--white);
    min-height: 100vh;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 10px 5%;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
}

.logo{
    font-size: 1.4em;
    font-weight: 600;
}

.logo span{
    color: var(--secondary-color);
}

header nav ul{
    display: flex;
    gap: 10px;
}

header nav ul li{
    padding: 10px 15px;
    border-radius: 5px;
    transition: 0.3s ease-in;
}

header nav ul li a{
    color: var(--black);
}

header nav ul li:hover
{
    background-color: var(--text-color);
}

header nav ul li:hover a{
    color: var(--white);
}

header button{
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;
    display: none;
}

header button svg{
    fill: var(--text-color);
    width: 2.5em;
    height: 2.5rem;
}

.container{
    display: flex;
    margin: 50px auto;
    max-width: 700px;
    height: auto;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 8px 5px rgba(0,0,0,0.3);
}

.left-container{
    width: 50%;
    background-color: var(--secondary-color);
    padding: 1rem;
    display: flex;
    align-items: center;
}

.left-container img{
    width: 100%;
    object-fit: cover;
}

.right-container{
    width: 50%;
    padding: 1em;
    height: auto;
}

.right-container form{
    display: flex;
    flex-direction: column;
}

form h2{
    text-align: center;
    font-size: 1.8em;
    font-weight: 600;
    margin-bottom: 1em;
}

form label{
    font-size: 0.9em;
    font-weight: 600;
}

form input{
    width: 100%;
    height: 45px;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 0.8em;
    border: 1px solid var(--mute-text);
}

form input[type = "text"]:focus,
form input[type = "email"]:focus,
form input[type ="password"]:focus {
    border: none;
    border: 1px solid var(--secondary-color);

}

form input[type="submit"]{
    background-color: var(--secondary-color);
    border: none;
    height: unset;
    color: var(--white);
    font-size: .9em;
    font-weight: 600;
}

.sign-in-link{
    color: var(--mute-text);
    font-size: 0.9em;
}

.sign-in-link a{
    color: var(--text-dark);
    transition: 0.2s ease-in;
}

.sign-in-link a:hover{
    color: var(--secondary-color);
    text-decoration: underline;
}


@media screen and (width <= 991px){
    header button{
        display: block;
    }

    header nav{
        position: absolute;
        top: -100%;
        transition: 0.3s ease;
    }

    header nav.active{
        position: absolute;
        display: flex;
        flex-direction: column;
        background: var(--white);
        top: 65px;
        right: 2rem;
        box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
        width: 50%;
        padding: 1rem;
    }

    header nav ul{
        flex-direction: column;
    }

    header nav ul li{
        text-align: center;
    }

    .container{
        width: 90%;
    }
}

@media screen and (width <= 600px) {
    

    body{
        font-size: 97%;
    }

    .container{
        flex-direction: column;
        width: 90%;
        height: auto;
    }

    .left-container{
        width: 100%;
    }

    .left-container img{
        object-fit: cover;
    }

    .right-container{
        width: 100%;
    }
}

@media screen and (width <= 400px) {

    header nav.active{
        right: 0.5em;
    }
    
}