@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --primary-color: #3e787c;
    --secondary-color: #86aa32;
    --white:#fff;
    --text-color: #0a0a0a;
    --text-dark: #333333;
    --mute-text: #777;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--white);
    min-height: 100vh;
}

